doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Iphone6

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-hash='Iphone6')(data-bespoke-state='emphatic')
        <img src="images/Apple-logo.png" style="width:25%; margin-right:400px; margin-bottom:-115px" >
        h1 <marquee behavior="scroll" direction="right" scrollamount="10">Iphone 6</marquee>

      section(data-bespoke-hash='Cover')(data-bespoke-state='emphatic')
        div.blue
            <acronym title="New-Iphone6"><img src="images/iphone6.png" style="width:50%; float:left"></acronym>
            <h3><b> iPhone 6 </b></h3>
            p The Sign of Design.
            p With You in mind.
      
      section(data-bespoke-hash='Anggota')(data-bespoke-state='emphatic')
        h3 <b>Anggota Kelompok : </b>
        ol
          hr
          li <div class="namakel">Alwin Mario (12.111.1010)</div>
          li <div class="namakel">Jeffry Tandiono (12.111.0812)</div>
          li <div class="namakel">Kelvin (12.111.0031)</div>
          li <div class="namakel">Soewandi Koerniawan Syahputra (12.111.0162)</div>
      
      section(data-bespoke-hash='Description1')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Deskripsi <img src="images/Apple-logo.png" style="width:20px; height:20px">
        p Rumor tentang iPhone generasi berikutnya telah mempercepat dalam beberapa pekan terakhir, dengan sebagian besar berfokus pada ukuran layar perangkat, yang diperkirakan akan meningkat. Ukuran layar iPhone diperbesar dari 3,5 inci sampai 4 inci dengan iPhone 5, dan dengan iPhone6, layar akan diperbesar semakin besar.

      section(data-bespoke-hash='Description2')(data-bespoke-state='emphatic')
        p Apple telah melakukan percobaan dengan berbagai ukuran layar, dengan rumor yang paling konsisten menunjukkan kisaran 4,7 inci dan 5,5 inci, mendatangkan iPhone berikutnya sejalan dengan persaingan ponsel Android dan Windows yang mengadopsi fitur layar yang lebih besar.
        p Apple bahkan telah mengakui permintaan konsumen untuk ponsel dengan layar yang lebih besar di salah satu presentasi internalnya sendiri dan berdasarkan bukti-bukti itu, tampak jelas perusahaan berencana untuk mengatasi segmen pasar yang menginginkan ponsel yang lebih besar.

      section(data-bespoke-hash='Specification1')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Spesifikasi <img src="images/Apple-logo.png" style="width:20px; height:20px">
        div.floattable
          table
            tr
              <th colspan = 2> General Information
            tr
              td.first Brand
              td Apple
            tr
              td.first Model
              td iPhone 6
            tr
              td.first SIM Slot(s)
              td Single SIM, GSM
            tr
              td.first SIM Size
              td Nano
            tr
              td.first Touch Screen
              td Yes, Capacitive Touchscreen, Multi-touch
            tr
              td.first Dimensions
              td 137.5 x 67 x 7.0 mm
            tr
              td.first Colours
              td Black, Silver, White
            tr
              td.first Box Contents
              td Handset, Battery, Charger, Earphone, USB Cable, User Manual, Warranty Card
          table
            tr
              <th colspan = 2> Hardware
            tr
              td.first Processor
              td Quad core 2600 Mhz
            tr
              td.first System chip
              td Apple A8
            tr
              td.first Build-in storage
              td 16 GB
          table
            tr
              <th colspan = 2> Display
            tr
              td.first Screen Size
              td 4.7 Inch
            tr
              td.first Screen Resolution
              td 960 x 1074 pixels
            tr
              td.first Pixel Density
              td 416 ppi
            tr
              td.first Display Type
              td IPS LCD
            tr
              td.first Touchscreen
              td Yes
            tr
              td.first Features
              td Light sensor, Proximity sensor, Scratch-resistant glass
          table
            tr
              <th colspan = 2> Platform
            tr
              td.first Operating System
              td iOS v7.2
            tr
              td.first Sensors
              td Accelerometer, Compass, Gyroscope, Light sensor, Proximity sensor
          table
            tr
              <th colspan = 2> Storage
            tr
              td.first Internal Memory
              td 16 GB
            tr
              td.first Expandable Memory
              td No
            
      section(data-bespoke-hash='Specification2')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Spesifikasi <img src="images/Apple-logo.png" style="width:20px; height:20px">
        div.floattable
          table
            tr
              <th colspan = 2> Internet & Connectivity
            tr
              td.first GPRS
              td Yes
            tr
              td.first EDGE
              td Yes
            tr
              td.first 3G
              td Yes, HSDPA, 21 Mbit/s; HSUPA, 5.76 Mbit/s
            tr
              td.first Wi-Fi
              td Yes, Wi-Fi 802.11, a/ac/b/g/n, Mobile Hotspot
            tr
              td.first Bluetooth
              td Yes, v4.0, A2DP
            tr
              td.first GPS
              td Yes, with A-GPS, Glonass
            tr
              td.first USB Connectivity
              td Yes, USB Port, USB 2.0, microUSB
            tr
              td.first More Connectivity
              td NFC
          table
            tr
              <th colspan = 2> Camera
            tr
              td.first Main Camera
              td Yes, 13 MP
            tr
              td.first Front Camera
              td Yes, 1.2 MP
            tr
              td.first Flash
              td LED
            tr
              td.first Video Recording
              td Full HD @ 60 FPS
            tr
              td.first Zoom
              td Yes, Digital Zoom
            tr
              td.first Camera Features
              td Face detection, Geo tagging, High Dynamic Range mode(HDR), Touch to focus
          table
            tr
              <th colspan = 2> Multimedia
            tr
              td.first Speakers
              td Earpiece, Loudspeaker
            tr
              td.first Audio Jack
              td 3.5 mm
          table
            tr
              <th colspan = 2> Other Features
            tr
              td.first Notification
              td Music ringtones, Polyphonic ringtones, Vibration, Flight mode, Silent mode, Speakerphone
            tr
              td.first Sensor
              td Accelerometer, Gyroscope, Compass, Fingerprint ID
            tr
              td.first 
              td Voice dialing, Voice commands, Voice recording

      section(data-bespoke-hash='Kelebihan')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Kelebihan <img src="images/Apple-logo.png" style="width:20px; height:20px">
        ol
          li Konsistensi dan Kemudahan dalam Penggunaan
          li Ragam Aksesoris dan Apple Store
          li Aksesibilitas dan Pengaturan
          li Dukungan Microsoft Office 365
          li Berkurangnya Fitur yang Tidak Perlu
          li Berkurangnya Pelanggaran Keamanan 

      section(data-bespoke-hash='Desain1')(data-bespoke-state='emphatic')
        div.desain
          div.title
            h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Desain iPhone5 vs iPhone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
          div.left
            div.merk
              p iPhone 5
            div.image
              <img src="images/desain5.png" width="100" height="238">
          div.left
            div.merk
              p iPhone 6
            div.image
              <img src="images/desain6.png" width="100" height="238">

      section(data-bespoke-hash='Desain2')(data-bespoke-state='emphatic')
          h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Desain baru pada iPhone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
          p Johnny Plaid, seorang desainer grafis dan seniman telah membuatkan desain iPhone 6 yang secara drastis berbeda dari versi sebelumnya.
          p Fitur multitouch juga ditambahkan pada tombol 'home' ikonik milik iPhone yang merupakan bawaan konsep desain ponsel Apple Plaid. Bahkan, Plaid menambahkan dua tombol sentuh tanpa ikon di sisi kiri dan kanan tombol, konsep ini sangat berbeda dari seri iPhone sebelumnya.

      section(data-bespoke-hash='Desain3')(data-bespoke-state='emphatic')
          h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Desain baru pada iPhone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
          p Ia juga menyebutkan bahwa charger-nya juga akan menggunakan teknologi integrasi terbaru dari MagSafe. Namun, tak disebutkan apakah konsep ini juga menambahkan fitur wireless charging yang sudah banyak digunakan oleh kebanyakan smartphone di pasaran.
          p iPhone 6 didesain sangat ramping atau ultra-slim dengan ketebalan yang kecil dimana hampir sama dengan iPod generasi lima dari Apple.

      section(data-bespoke-hash='Price')(data-bespoke-state='emphatic')
        div.price
          div.title
            h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Harga Iphone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
          div.left
            p Ada satu hal yang kita yakin tentang iPhone 6 - harganya tidak akan murah.
            p Perangkat Apple dari sejak dulu telah menjadi suatu trend bahwa perangkat nya didampingi dengan harga yang lumayan tinggi.
            p Seorang analis bahkan sudah memprediksi bahwa Apple akan menaikkan harga iPhone 6 hingga sekitar $100(sekitar £60, AU$110).
          div.right
            p Dengan layar yang lebih besar, kaca baru didepannya dan kemungkinan material yang lebih baru, lebih canggih, yang digunakan dalam membuat iPhone 6.
            p Kita akan dikejutkan dengan kenaikan harga besar-besaran pada iPhone 6 berukuran 4,7 inci, dikarenakan untuk bersaing dalam pasar, namun kenaikannya masuk akal jika Apple meluncurkan iPhone yang lebih besar, berukuran tablet.

      section(data-bespoke-hash='ReleaseDate')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Tanggal Release iphone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
        p IPhone 6 akan dirilis pada tahun 2014 dan telah dikabarkan akan keluar pada bulan September.
        p Apple telah meluncurkan beberapa iPhone terakhir pada bulan September, jadi karena itu iPhone 6 diyakini oleh Apple akan dirilis pada September tahun ini.
        p Belum lagi fakta bahwa menurut <a href="http://www.ifun.de/apple-stores-urlaubssperre-im-september-hannover-nicht-vor-herbst-59909/" target="_blank">ifun.de</a> Apple menyatakan pekerja di Apple Stores Jerman tidak mendapatkan liburan selama September, yang membuktikan akan dirilis perangkat yang baru.
        p Jadi sementara Apple mengungkapkan rincian dari sistem operasi baru di WWDC pada bulan Juni, kita mungkin harus menunggu sampai September untuk benar-benar melihat performanya pada handset.

      section(data-bespoke-hash='ScreenSize1')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Ukuran Layar <img src="images/Apple-logo.png" style="width:20px; height:20px">
        <img src="images/iphone6-sizes.png" style="width:70%">

      section(data-bespoke-hash='ScreenSize2')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Ukuran Layar <img src="images/Apple-logo.png" style="width:20px; height:20px">
        p Telah diakui oleh Apple bahwa konsumen menginginkan layar yang lebih besar setelah Samsung mengeluarkan produk mereka. Prototipe iPhone6 memiliki layar retina + <a href="http://www.sharpusa.com/ForHome/HomeEntertainment/LCDTV/igzo.aspx" target="_blank">IGZO</a> yang besar. Layar ini akan memiliki resolusi HD 1080p penuh yang sebelumnya tidak dimiliki oleh iPhone5S.
        p Apple juga akan memperkenalkan dua ukuran handset untuk bersaing dengan kebanyakan perangkat Android, yaitu 4,7 inci dan 5,5 inci.
        p Apple telah menguji tampilan pixel dengan resolusi 1704 x 960 yang memungkinkan iPhone untuk mempertahankan rasio 16x9. Untuk iPhone 4,7 inci memiliki kepadatan pixel 416 pixel per inci, sedangkan yang 5,5 inci memiliki kepadatan 355 pixel per inci.
       
      section(data-bespoke-hash='ScreenSize3')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Ukuran Layar <img src="images/Apple-logo.png" style="width:20px; height:20px">
        p IGZO merupakan salah satu teknologi Sharp yang menggunakan 8G substrat kaca yang mampu membuat transistor film tipis lebih kecil dan meningkatan transmisi cahaya. IGZO adalah bahan semikonduktor menggabungkan indium , gallium , zinc dan oksida . Ia dirancang untuk menggantikan bahan silikon stadar amorphous.

      section(data-bespoke-hash='ScreenSize4')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Ukuran Layar <img src="images/Apple-logo.png" style="width:20px; height:20px">  
        p Penggunaan teknologi IGZO pada iPhone 6 akan sangat berdampak.
        p Pertama, panel Sharp menarik hanya sepersepuluh dari energi yang dibutuhkan untuk menyalakan layar LCD . 
        p Kedua, manfaat lain dari teknologi IGZO termasuk resolusi tingkat tinggi dan kejelasan yang tak tertandingi - hingga empat kali lipat dari konvensional full- HD atau 1080p LCD. 
        p Dan terakhir, IGZO mengklaim hanya menggunakan kekuatan ekstra ketika pengguna menyentuh layar dari respons sentuhan kinerja tinggi iPhone

      section(data-bespoke-hash='Resolution1')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Resolusi iphone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
        p Sementara banyak rumor menunjukkan bahwa layar pada iphone 6 akan bertambah besar, dimensi dan resolusi nya juga menguak banyak dugaan.
        p Beberapa pengamat industri berspekulasi bahwa Apple bisa meregangkan Interface software iPhone dan mempertahankan resolusi layar 1136 x 640 yang ada pada iPhone 5s. Hal ini akan memungkinkan semua software iOS dan aplikasi pada App Store dapat berfungsi secara normal pada iPhone 6 tanpa perubahan yang diperlukan. Kelemahan dari hal ini adalah tampilan pada iPhone 6 akan kurang disenangi karena resolusi yang sama dengan tipe sebelumnya.

      section(data-bespoke-hash='Resolution2')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Resolusi iphone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
        div.tulisan
          p Sama seperti transisi iPhone 3 ke layar Retina iPhone 4 pada tahun 2010 dan transisi ke iPhone 5 dengan layar lebih panjang pada tahun 2012, dikabarkan Apple sedang mempersiapkan perubahan resolusi besar untuk iPhone 6 yang memerlukan perubahan perangkat lunak baik dari Apple maupun dari tim pengembang.
          p Pada tahun 2014, Apple telah mempersiapkan untuk membuat penyesuaian layar yang signifikan terhadap iPhone. Sumber yang telah melakukan pengujian model-model iPhone generasi sebelumnya mengatakan bahwa daripada mempertahankan resolusi yang sekarang, Apple berencana untuk meningkatkan layar iPhone berikutnya dengan <b>pixel-tripling (3X) mode</b>.

      section(data-bespoke-hash='Resolution3')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Resolusi iphone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
        p Banyak sumber yang menunjukkan bahwa Apple sedang menguji layar resolusi 1704 x 960 untuk iPhone 6. Melipat-Tigakan resolusi dasar iPhone 5 akan berarti bahwa layar iPhone 6 akan mempertahankan aspek ratio 16:9 yang sama pada iPhone 5, iPhone 5s, dan iPhone 5c.
        p Sementara resolusi iPhone baru lebih tinggi, ketajaman keseluruhan layar didasarkan pada kepadatan pixel layar. Ukuran diagonal layar untuk iPhone berikutnya adalah 4,7-inci dan 5,5 inci dengan kepadatan pixel untuk kedua ukuran layar dengan asumsi masing-masing menggunakan <em>mode scaling 3X</em> dan resolusi 1704 x 960.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild