doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Iphone6

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-hash='Iphone6')(data-bespoke-state='emphatic')
        <img src="images/Apple-logo.png" style="width:25%; margin-right:400px; margin-bottom:-115px" >
        h1 <marquee behavior="scroll" direction="right" scrollamount="10">Iphone 6</marquee>

      section(data-bespoke-hash='Cover')(data-bespoke-state='emphatic')
        div.blue
            <acronym title="New-Iphone6"><img src="images/iphone6.png" style="width:50%; float:left"></acronym>
            <h3> iPhone 6 </h3>
            p The Sign of Design.
            p With You in mind.
      
      section(data-bespoke-hash='Anggota')(data-bespoke-state='emphatic')
        h3 Anggota Kelompok :
        hr
        ol
          li Alwin Mario (12.111.1010)
          li Jeffry Tandiono (12.111.0812)
          li Kelvin (12.111.0031)
          li Soewandi Koerniawan Syahputra (12.111.0162)
      
      section(data-bespoke-hash='Description1')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Deskripsi <img src="images/Apple-logo.png" style="width:20px; height:20px">
        p Rumor tentang iPhone generasi berikutnya telah mempercepat dalam beberapa pekan terakhir, dengan sebagian besar berfokus pada ukuran layar perangkat, yang diperkirakan akan meningkat. Ukuran layar iPhone diperbesar dari 3,5 inci sampai 4 inci dengan iPhone 5, dan dengan iPhone6, layar akan diperbesar semakin besar.

      section(data-bespoke-hash='Description2')(data-bespoke-state='emphatic')
        p Apple telah melakukan percobaan dengan berbagai ukuran layar, dengan rumor yang paling konsisten menunjukkan kisaran 4,7 inci dan 5,5 inci, mendatangkan iPhone berikutnya sejalan dengan persaingan ponsel Android dan Windows yang mengadopsi fitur layar yang lebih besar.
        p Apple bahkan telah mengakui permintaan konsumen untuk ponsel dengan layar yang lebih besar di salah satu presentasi internalnya sendiri dan berdasarkan bukti-bukti itu, tampak jelas perusahaan berencana untuk mengatasi segmen pasar yang menginginkan ponsel yang lebih besar.

      section(data-bespoke-hash='Specification1')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Spesifikasi <img src="images/Apple-logo.png" style="width:20px; height:20px">
        div.floattable
          table
            tr
              <th colspan = 2> General Information
            tr
              td.first Brand
              td Apple
            tr
              td.first Model
              td iPhone 6
            tr
              td.first SIM Slot(s)
              td Single SIM, GSM
            tr
              td.first SIM Size
              td Nano
            tr
              td.first Touch Screen
              td Yes, Capacitive Touchscreen, Multi-touch
            tr
              td.first Dimensions
              td 137.5 x 67 x 7.0 mm
            tr
              td.first Colours
              td Black, Silver, White
            tr
              td.first Box Contents
              td Handset, Battery, Charger, Earphone, USB Cable, User Manual, Warranty Card
          table
            tr
              <th colspan = 2> Hardware
            tr
              td.first Processor
              td Quad core 2600 Mhz
            tr
              td.first System chip
              td Apple A8
            tr
              td.first Build-in storage
              td 16 GB
          table
            tr
              <th colspan = 2> Display
            tr
              td.first Screen Size
              td 4.7 Inch
            tr
              td.first Screen Resolution
              td 960 x 1074 pixels
            tr
              td.first Pixel Density
              td 416 ppi
            tr
              td.first Display Type
              td IPS LCD
            tr
              td.first Touchscreen
              td Yes
            tr
              td.first Features
              td Light sensor, Proximity sensor, Scratch-resistant glass
          table
            tr
              <th colspan = 2> Platform
            tr
              td.first Operating System
              td iOS v7.2
            tr
              td.first Sensors
              td Accelerometer, Compass, Gyroscope, Light sensor, Proximity sensor
          table
            tr
              <th colspan = 2> Storage
            tr
              td.first Internal Memory
              td 16 GB
            tr
              td.first Expandable Memory
              td No
            
      section(data-bespoke-hash='Specification2')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Spesifikasi <img src="images/Apple-logo.png" style="width:20px; height:20px">
        div.floattable
          table
            tr
              <th colspan = 2> Internet & Connectivity
            tr
              td.first GPRS
              td Yes
            tr
              td.first EDGE
              td Yes
            tr
              td.first 3G
              td Yes, HSDPA, 21 Mbit/s; HSUPA, 5.76 Mbit/s
            tr
              td.first Wi-Fi
              td Yes, Wi-Fi 802.11, a/ac/b/g/n, Mobile Hotspot
            tr
              td.first Bluetooth
              td Yes, v4.0, A2DP
            tr
              td.first GPS
              td Yes, with A-GPS, Glonass
            tr
              td.first USB Connectivity
              td Yes, USB Port, USB 2.0, microUSB
            tr
              td.first More Connectivity
              td NFC
          table
            tr
              <th colspan = 2> Camera
            tr
              td.first Main Camera
              td Yes, 13 MP
            tr
              td.first Front Camera
              td Yes, 1.2 MP
            tr
              td.first Flash
              td LED
            tr
              td.first Video Recording
              td Full HD @ 60 FPS
            tr
              td.first Zoom
              td Yes, Digital Zoom
            tr
              td.first Camera Features
              td Face detection, Geo tagging, High Dynamic Range mode(HDR), Touch to focus
          table
            tr
              <th colspan = 2> Multimedia
            tr
              td.first Speakers
              td Earpiece, Loudspeaker
            tr
              td.first Audio Jack
              td 3.5 mm
          table
            tr
              <th colspan = 2> Other Features
            tr
              td.first Notification
              td Music ringtones, Polyphonic ringtones, Vibration, Flight mode, Silent mode, Speakerphone
            tr
              td.first Sensor
              td Accelerometer, Gyroscope, Compass, Fingerprint ID
            tr
              td.first 
              td Voice dialing, Voice commands, Voice recording

      section(data-bespoke-hash='Kelebihan')(data-bespoke-state='emphatic')
        div
          h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Kelebihan <img src="images/Apple-logo.png" style="width:20px; height:20px">
        ol
            li Konsistensi dan Kemudahan dalam Penggunaan
            li Ragam Aksesoris dan Apple Store
            li Aksesibilitas dan Pengaturan
            li Dukungan Microsoft Office 365
            li Berkurangnya Fitur yang Tidak Perlu
            li Berkurangnya Pelanggaran Keamanan

      section(data-bespoke-hash='Desain1')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Desain iPhone5 vs iPhone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
          <div class="left">
          <div class="merk">iPhone 5</div>
          <div class="image"><img src="images/desain5.png" width="100" height="238" /></div>
          </div>
          <div class="right">
          <div class="merk">iPhone 6</div>
          <div class="image"><img src="images/desain6.png" width="100" height="238" /></div>
          </div>

      section(data-bespoke-hash='Desain2')(data-bespoke-state='emphatic')

          h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Desain baru pada iPhone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
          p Johnny Plaid, seorang desainer grafis dan seniman telah membuatkan desain iPhone 6 yang secara drastis berbeda dari versi sebelumnya.
          p Fitur multitouch juga ditambahkan pada tombol 'home' ikonik milik iPhone yang merupakan bawaan konsep desain ponsel Apple Plaid. Bahkan, Plaid menambahkan dua tombol sentuh tanpa ikon di sisi kiri dan kanan tombol, konsep ini sangat berbeda dari seri iPhone sebelumnya.

      section(data-bespoke-hash='Desain3')(data-bespoke-state='emphatic')
          h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Desain baru pada iPhone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
          p Ia juga menyebutkan bahwa charger-nya juga akan menggunakan teknologi integrasi terbaru dari MagSafe. Namun, tak disebutkan apakah konsep ini juga menambahkan fitur wireless charging yang sudah banyak digunakan oleh kebanyakan smartphone di pasaran.
          p iPhone 6 didesain sangat ramping atau ultra-slim dengan ketebalan yang kecil dimana hampir sama dengan iPod generasi lima dari Apple.

      section(data-bespoke-hash='ReleaseDate')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Tanggal Release iphone6 <img src="images/Apple-logo.png" style="width:20px; height:20px">
        p IPhone 6 akan dirilis pada tanggal 2014 dan itu semakin memungkinkan bahwa kita akan melihatnya pada bulan September.
        p Apple telah meluncurkan beberapa iPhone terakhir di sebuah acara khusus pada bulan September, jadi sedia uang modal investasi selalu pada September 2014 untuk kedatangan iPhone 6 itu.
        p Belum lagi fakta bahwa menurut ifun.de Apple membatasi liburan selama September bagi karyawan di Apple Stores Jerman, yang sangat menunjukkan peluncuran hardware baru.
        p Jadi sementara Apple mungkin akan mengungkapkan rincian dari sistem operasi baru di WWDC pada bulan Juni, kita mungkin harus menunggu sampai September untuk benar-benar melihatnya performa pada handset.

      section(data-bespoke-hash='ScreenSize1')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Ukuran Layar <img src="images/Apple-logo.png" style="width:20px; height:20px">
        <img src="images/iphone6-sizes.jpg" style="width:70%">

      section(data-bespoke-hash='ScreenSize2')(data-bespoke-state='emphatic')
        h2 <img src="images/Apple-logo.png" style="width:20px; height:20px"> Ukuran Layar <img src="images/Apple-logo.png" style="width:20px; height:20px">
        p Telah diakui oleh Apple bahwa konsumen menginginkan layar yang lebih besar setelah Samsung mengeluarkan produk mereka. Prototipe iPhone6 memiliki layar retina + IGZO yang besar. Layar ini akan memiliki resolusi HD 1080p penuh yang sebelumnya tidak dimiliki oleh iPhone5S.
        p Apple juga akan memperkenalkan dua ukuran handset untuk bersaing dengan kebanyakan perangkat Android, yaitu 4,7 inci dan 5,5 inci.
        p Apple telah menguji tampilan pixel dengan resolusi 1704 x 960 yang memungkinkan iPhone untuk mempertahankan rasio 16x9. Untuk iPhone 4,7 inci memiliki kepadatan pixel 416 pixel per inci, sedangkan yang 5,5 inci memiliki kepadatan 355 pixel per inci.
            
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild