doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Iphone6

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-hash='Iphone6')(data-bespoke-state='emphatic')
        h1 iPhone 6
        <img src="images/Apple-logo.png" style="width:30%">

      section(data-bespoke-hash='Cover')(data-bespoke-state='emphatic')
        div.blue
            <img src="images/iphone6.png" style="width:50%; float:left">
            h2 iPhone 6
            p The Sign of Design.
            p With You in mind.
      
      section(data-bespoke-hash='Anggota')(data-bespoke-state='emphatic')
        p Anggota Kelompok :
        hr
        ol
            li Alwin Mario (12.111.1010)
            li Jeffry Tandiono (12.111.0812)
            li Kelvin (12.111.0031)
            li Soewandi Koerniawan Syahputra (12.111.0162)
      
      section(data-bespoke-hash='Description1')(data-bespoke-state='emphatic')
        h2 Description
        p Rumor tentang iPhone generasi berikutnya telah mempercepat dalam beberapa pekan terakhir, dengan sebagian besar berfokus pada ukuran layar perangkat, yang diperkirakan akan meningkat. Ukuran layar iPhone diperbesar dari 3,5 inci sampai 4 inci dengan iPhone 5, dan dengan iPhone6, layar akan diperbesar semakin besar.

      section(data-bespoke-hash='Description2')(data-bespoke-state='emphatic')
        p Apple telah melakukan percobaan dengan berbagai ukuran layar, dengan rumor yang paling konsisten menunjukkan kisaran 4,7 inci dan 5,5 inci, mendatangkan iPhone berikutnya sejalan dengan persaingan ponsel Android dan Windows yang mengadopsi fitur layar yang lebih besar.
        p Apple bahkan telah mengakui permintaan konsumen untuk ponsel dengan layar yang lebih besar di salah satu presentasi internalnya sendiri dan berdasarkan bukti-bukti itu, tampak jelas perusahaan berencana untuk mengatasi segmen pasar yang menginginkan ponsel yang lebih besar.

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild